//-- Global Variables

// Vertical Step
$grid-vertical-step:           24px !default;

// Font Family
$font-family-body:            'Cabin', sans-serif;
$font-family-headings:        'Circe', sans-serif;

// Colors
$white:                        #ffffff;
$black:                        #000000;

$gray-darker:                  #232323;
$gray-dark:                    #323232;
$gray:                         #d5d5d5;
$gray-light:                   #e7e7e7;
$gray-lighter:                 #f5f5f2;


$primary:                      #ffc171;
$accent:                       #e833b0;
$info:                         #5695fe;
$success:                      #DA8B3B;
$warning:                      #ff5f2c;
$danger:                       #ff5252;

// Gradient
$gradient-from:                #e833b0;
$gradient-to:                  #ac32e4;

// Borders
$border:                       1px solid #ebebeb;
$border-light:                 1px solid rgba(255, 255, 255, .18);

// Shadows
$basic-box-shadow:             0 22px 36px -12px rgba(0, 0, 0, .2);

// Grid
$grid-gutter-width:                           40px;
$column-gutter-width: ceil($grid-gutter-width / 2);

//-- Media Breakpoints
$desktop:   		   'screen and (max-width: 1200px)';
$tablet-land:      'screen and (max-width: 991px)';
$tablet-port:    	 'screen and (max-width: 768px)';
$mobile-land:		 	 'screen and (max-width: 480px)';
$mobile-port:		 	 'screen and (max-width: 360px)';
$menu-collapse: 	 $tablet-land;

//-- Custom Media Breakpoints
$mobile-land-lg:   'screen and (max-width: 600px)';
