//-- Global Typography Styles

// Local Variables Section
$font-size-base:               18.6px;
$line-height-base:             1.7;

$font-size-lead:               30px !default;
$font-size-xl:                 18px !default;
$font-size-lg:                 16px !default;
$font-size-md:                 14px !default;
$font-size-sm:                 12px !default;
$font-size-xs:                 10px !default;

$font-size-h1:                 190px !default;
$font-size-h2:                 58px  !default;
$font-size-h3:                 48px  !default;
$font-size-h4:                 23px  !default;
$font-size-h5:                 16px  !default;
$font-size-h6:                 12px  !default;

$line-height-h1:               .88  !default;
$line-height-h2:               1.2 !default;
$line-height-h3:               1.2  !default;
$line-height-h4:               .8  !default;

$headings-color:               $gray-darker;

$link-color:                   $gray-darker !default;
$link-hover-color:             $primary     !default;


// Styles Section

// Body
body {
  color: $gray-dark;
  font: {
    family: $font-family-body;
    size: $font-size-base;
  }
  line-height: $line-height-base;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $headings-color;
  font: {
    family: $font-family-headings;
    weight: 800;
    style: normal;
  }
}

h1, .h1 {
  color: $white;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  text-shadow: 0 20px 90px rgba(36, 33, 31, .1);
  text-transform: uppercase;

  @media #{$tablet-land} {
    font-size: floor($font-size-h1 * .7);
  }
  @media #{$tablet-port} {
    font-size: floor($font-size-h1 * .25);
    text-shadow: 0 15px 60px rgba(61, 61, 61, .3);
  }
  @media #{$mobile-land} {
    font-size: floor($font-size-h1 * .2);
  }
}
h2, .h2 {
  font-size: $font-size-h2;
  font-weight: 700;
  letter-spacing: 1.9px;
  line-height: $line-height-h2;

  @media #{$tablet-port} {
    font-size: floor($font-size-h2 * .65);
  }
  @media #{$mobile-land} {
    font-size: floor($font-size-h3 * .5);
  }
  @media #{$mobile-port} {
    font-size: floor($font-size-h3 * .45);
  }
}
h3, .h3 {
  font-size: $font-size-h3;
  letter-spacing: 1.2px;
  line-height: $line-height-h3;

  @media #{$tablet-port} {
    font-size: floor($font-size-h3 * .7);
  }
  @media #{$mobile-land} {
    font-size: floor($font-size-h3 * .5);
  }
}
h4, .h4 {
  color: rgba($black, .4);
  font-size: $font-size-h4;
  font-weight: 600;
  letter-spacing: .7px;
  line-height: $line-height-h4;

  @media #{$tablet-port} {
    font-size: floor($font-size-h4 * .7);
  }
  @media #{$mobile-land} {
    font-size: floor($font-size-h4 * .55);
  }
}
h5, .h5 {
  color: rgba($black, .4);
  font-size: $font-size-h5;
  line-height: $line-height-base;

  @media #{$tablet-port} {
    font-size: floor($font-size-h5 * .7);
  }
}
h6, .h6 {
  font-size: $font-size-h6;
  line-height: $line-height-base;

  @media #{$tablet-port} {
    font-size: floor($font-size-h6 * .7);
  }
}

// Body text
p, .p {
  margin: 0 0 $grid-vertical-step;
  letter-spacing: .3px;
  @media #{$mobile-land} {
    font-size: floor($font-size-base * .65);
  }
}
small, .small { font-size: 70%; }

// Text predefined sizes
.text-lead { font-size: $font-size-lead; }
.text-xl { font-size: $font-size-xl; }
.text-lg { font-size: $font-size-lg; }
.text-md { font-size: $font-size-md; }
.text-sm { font-size: $font-size-sm; }
.text-xs { font-size: $font-size-xs; }

// Inline links
a {
  transition: .25s;
  color: $gray-dark;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &:focus { outline: none; }
}

// Lists
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
