// -- Colors

// Text
.text-primary {color: $primary !important;}
.text-warning {color: $warning !important;}
.text-success {color: $success !important;}

// Background
.bg-white {background-color: $white;}
.bg-black {background-color: $black;}

.bg-primary {background-color: $primary;}
.bg-warning {background-color: $warning;}
.bg-success {background-color: $success;}


// -- Borders

// Theme Colors
.border         {border: 1px solid transparent;}
.border-primary {border-color: $primary;}
.border-warning {border-color: $warning;}
.border-success {border-color: $success;}


// Layout
.img-responsive {
  display: block;
  max-width: 100%;
}
