// -- Local Variables Section
$widget-box-shadow: 0 30px 180px 0 rgba($black, .24) !default;



// -- Styles Section
.contact-widget {
  display: block;
  position: absolute;
  top: 230px;
  right: 36px;
  width: 64px;
  background-color: $white;
  text-align: center;
  box-shadow: $widget-box-shadow;
  z-index: 9;
  a,
  button {
    display: block;
    width: 100%;
    height: 64px;
    transition: color .25s;
    color: $gray;
    font-size: 24px;
    line-height: 64px;
    &:hover {color: $primary;}
    &:active {color: $black;}
  }
  @media screen and (max-width: 1670px) {
    display: none;
  }
}
.contact-widget-close {
  display: block;
  width: 100%;
  height: 64px;
  border-bottom: 2px solid #f0f0f0;
  color: $gray;
  font-size: 28px;
}
.contact-widget-nav-list {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  li:first-child {
    position: relative;
    &::before,
    &::after {
      display: block;
      position: absolute;
      content: '';
      z-index: -1;
    }
    &::before {
      top: 50%;
      right: 0;
      width: 14px;
      height: .5px;
      transform: translateY(-50%);
      background-color: $black;
    }
    &::after {
      top: calc(50% - .5px);
      right: -36px;
      width: 36px;
      height: 1px;
      background-color: #b7b7b7;
    }
    a {
      color: $black;
    }
  }
}
