@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon-font/icomoon.eot?ptzdhe');
  src:  url('../fonts/icomoon-font/icomoon.eot?ptzdhe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-font/icomoon.ttf?ptzdhe') format('truetype'),
    url('../fonts/icomoon-font/icomoon.woff?ptzdhe') format('woff'),
    url('../fonts/icomoon-font/icomoon.svg?ptzdhe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e909";
}
.icon-dribbble:before {
  content: "\e908";
}
.icon-pinterest:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-behance:before {
  content: "\e907";
}
.icon-left-arrow:before {
  content: "\e900";
}
.icon-right-arrow:before {
  content: "\e901";
}
.icon-down-arrow:before {
  content: "\e902";
}
.icon-up-arrow:before {
  content: "\e903";
}
