// -- Local Variables Section

// Main
$main-section-padding-top: 230px !default;
$main-heading-offset-top:  145px !default;

// Slider For
$slider-for-container-padding-top:    285px !default;
$slider-for-container-padding-right:  40px  !default;
$slider-for-container-padding-bottom: 125px !default;
$slider-for-container-padding-left:   140px !default;


// -- Styles Section
.site-content {
  .main-section {
    position: relative;
    z-index: 9;
    .container-fluid {
      padding-top: $main-section-padding-top;
      border-right: $border;
      border-left: $border;
      z-index: 9;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        transform: translateX(-50%);
        background-color: #ebebeb;
        content: '';
        z-index: -1;
      }
    }
    @media #{$tablet-land} {
      .container-fluid {
        padding-top: calc(#{$main-section-padding-top} / 2);
      }
    }
    @media #{$tablet-port} {
      border-color: #f0f0f0;
      .container-fluid {
        padding-top: calc(#{$main-section-padding-top} / 3);
        &::before {display: none;}
      }
    }
    @media #{$mobile-port} {
      .container-fluid {
        padding-top: calc(#{$main-section-padding-top} / 3.5);
      }
    }
    .main-heading {
      position: absolute;
      top: $main-heading-offset-top;
      left: -5px;
      letter-spacing: 7px;
      z-index: 999;
      user-select: none;
      @media #{$tablet-land} {
        top: calc(#{$main-heading-offset-top} / 2);
      }
      @media #{$tablet-port} {
        position: static;
        text-align: center;
        br {display: none;}
      }
      @media #{$mobile-land} {
        letter-spacing: 2px;
      }
      @media #{$mobile-port} {
        margin-bottom: 12px;
        font-size: 36px;
      }
    }
    .section-inner {
      display: flex;
      position: relative;
      align-items: center;
      @media #{$tablet-port} {
        flex-direction: column;
        background-color: transparent;
      }
    }
    // Slider-Nav
    .slider-nav-wrapper {
      position: relative;
      width: 100%;
      max-width: 370px;
      z-index: 999;
      .slick-arrow {
        position: absolute;
        left: 12px;
        width: 75px;
        background-color: transparent;
        .icon {margin: 0;}
      }
      .slick-prev {top: -55px;}
      .slick-next {bottom: -55px;}
      @media #{$tablet-port} {
        position: absolute;
        top: 35%;
        max-width: 100%;
        margin: 0;
        .slick-arrow {
          padding: 0;
        }
        .slick-prev {
          top: 85%;
          left: -60px;
          transform: translateY(-50%);
        }
        .slick-next {
          bottom: 15%;
          left: calc(100% - 15px);
          transform: translateY(50%);
        }
      }
      @media #{$mobile-land} {
        top: 25%;
      }
      @media #{$mobile-port} {
        top: 225px;
      }
    }
    .slider-nav {
      position: relative;
      margin-top: 105px;
      margin-left: -15px;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        width: 75px;
        height: calc(100% - 3px);
        box-shadow: 0 20px 90px 0 rgba(36, 33, 31, .15);
        content: '';
      }
      // .slick-list {overflow: visible;}
      @media #{$tablet-port} {
        display: flex;
        position: absolute;
        left: 50%;
        justify-content: center;
        max-width: 200px;
        margin: 0;
        transform: translateX(-50%);
        &::before {
          left: 0;
          width: 100%;
          height: calc(100% - 6px);
          background-color: transparent;
        }
      }
    }
    .slider-nav-slide {
      position: relative;
      margin-bottom: 2px;
      outline: none;
      color: rgba($gray-darker, .5);
      letter-spacing: 2px;
      cursor: pointer;
      .slide-num {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 75px;
        margin-right: 45px;
        margin-left: 7px;
        transform: rotate(-90deg);
        transition: color .35s;
        border-left: 2px solid #ebebe9;
        background-color: $white;
        font-family: $font-family-headings;
        font-size: 21.3px;
        font-weight: 700;
        letter-spacing: normal;
        line-height: 75px;
        text-align: center;
        z-index: 1;
        &::before {
          display: block;
          position: absolute;
          top: -6px;
          left: 0;
          width: 100%;
          height: 8px;
          transition: all .35s;
          background-color: $primary;
          content: '';
          opacity: 0;
          z-index: 2;
        }
      }
      .slide-text {
        position: relative;
        transition: color .2s;
        font-size: 18px;
        &::after {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 0;
          height: 2px;
          transform: translateY(-50%);
          transition: width .5s;
          background-color: $primary;
          content: '';
          z-index: 9;
        }
      }
      &.slick-current {
        .slide-num {
          color: $primary;
          &::before {opacity: 1;}
        }
        .slide-text {
          color: transparent;
          &::after {width: 325px;}
        }
      }
      @media #{$tablet-port} {
        display: inline;
        width: 100%;
        margin-bottom: 0;
        .slide-num {
          display: block;
          width: 40px;
          height: 40px;
          margin: {
            top: 0;
            right: auto;
            bottom: 6px;
            left: auto;
          }
          transform: none;
          border-left: 1px solid #ebebe9;
          font-size: 12px;
          line-height: 40px;
          &::before {
            top: 100%;
            height: 4px;
          }
        }
        .slide-text {display: none;}
        &.slick-current {
          border: 0 !important;
        }
      }
    }
    // Slider-For
    .slider-for-wrapper {
      position: relative;
      width: 100%;
      max-width: 1160px;
      padding: {
        top: $slider-for-container-padding-top;
        right: $slider-for-container-padding-right;
        bottom: $slider-for-container-padding-bottom;
        left: $slider-for-container-padding-left;
      }
      background-color: $white;
      box-shadow: 0 30px 120px 0 rgba($black, .2);
      z-index: 9;
      @media #{$desktop} {
        padding: {
          right: calc(#{$slider-for-container-padding-right} / 2);
          left: calc(#{$slider-for-container-padding-left} / 2);
        }
      }
      @media #{$tablet-port} {
        padding-top: 0;
        box-shadow: none;
      }
      @media #{$tablet-land} {
        padding-right: 70px;
        padding-left: 70px;
      }
      @media #{$mobile-land-lg} {
        padding-right: 0;
        padding-left: 0;
      }
      @media #{$mobile-port} {
        padding-bottom: 50px;
      }
    }
    .slider-for {
      position: static;
      .slick-arrow {
        position: absolute;
        right: 25px;
      }
      .slick-prev {top: 60px;}
      .slick-next {bottom: 60px;}
      .slider-for-slide {outline: none;}
    }
    // Process Article
    .process {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-height: 500px;
      .process-img {
        margin-right: 40px;
        .small {display: none;}
      }
      .process-title {margin-top: 25px;}
      .process-description {
        margin-top: 70px;
        p {width: 55%;}
      }
      @media #{$tablet-land} {
        .process-description {
          margin-top: 20px;
          p {width: 100%;}
        }
      }
      @media #{$tablet-port} {
        .process-img {
          margin: 0 auto;
        }
        .process-title {
          margin-top: 85px;
        }
      }
      @media #{$mobile-port} {
        .process-img {
          .large {display: none;}
          .small {display: block;}
        }
      }
    }
  }
  .main-section-bot {
    margin-top: -100px;
    background-color: #eeecec;
    z-index: 1;
    @media #{$tablet-port} {
      margin: 0;
    }
    .container-fluid {
      padding-top: 0;
      border: 0;
      &::before {display: none;}
    }
    .slider-for-wrapper {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      .announcement {
        margin-top: 200px;
        margin-bottom: 100px;
        padding: 40px 80px;
        border: 1px solid #c6c6c6;
        h4 {margin-top: 10px;}
        .btn-skin-default {
          font-size: 13.3px;
          letter-spacing: .55px;
        }
      }
    }
    @media #{$tablet-land} {
      .slider-nav-wrapper {display: none;}
      .slider-for-wrapper {
        width: 100%;
        max-width: 100%;
      }
    }
    @media #{$tablet-port} {
      .slider-for-wrapper {
        .announcement {
          margin-top: 50px;
        }
      }
    }
    @media #{$mobile-land} {
      .slider-for-wrapper {
        .announcement {
          margin-top: 0;
          padding-right: 0;
          padding-left: 0;
          border: 0;
          .btn {margin-top: 15px;}
        }
      }
    }
    @media #{$mobile-port} {
      .slider-for-wrapper {
        .announcement {
          max-width: 240px;
          margin: 0 auto;
        }
      }
    }
  }
}
