// -- Local Variables Section



// -- Styles Section
.site-footer {
  background: {
    position: 50% 50%;
    repeat: no-repeat;
    size: cover;
    image: url('../img/footer-bg.jpg');
  }
  color: #707070;
  font-weight: 700;
  .section-inner {
    padding-top: 500px;
    padding-bottom: 240px;
  }
  .text {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    h2 {color: $white;}
    .btn {margin-top: 80px;}
  }
  .bot-line {
    font-size: 16px;
    text-transform: uppercase;
    .contact {text-align: right;}
  }
  .social {
    display: flex;
    justify-content: center;
    li {
      padding: 0 15px;
    }
    a {
      color: #707070;
      font-size: 22px;
      text-decoration: none;
      &:hover {
        color: $primary;
      }
    }
  }
  .underline {
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 55px;
    border-top: 1px solid $gray-darker;
    text-align: right;
    .made-by {
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      img {
        width: 23px;
        height: 23px;
        margin-left: 10px;
      }
    }
  }
  @media #{$tablet-land} {
    text-align: center;
    .bot-line {
      .contact {
        padding-top: 30px;
        text-align: center;
      }
    }
    .social {
      padding-bottom: 30px;
      &::after {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $gray-darker;
        content: '';
      }
    }
    .underline {display: none;}
  }
  @media #{$mobile-land} {
    .section-inner {
      padding-top: 195px;
      padding-bottom: 90px;
    }
  }
  @media #{$mobile-port} {
    .text {
      .btn {margin-top: 20px;}
    }
    .bot-line {
      font-size: 9px;
      p {font-size: 9px;}
    }
    .social {
      a {font-size: 18px;}
    }
  }
}
